{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container mb-4">
        <div class="row justify-content-center mt-md-4 pt-md-4">
            <div class="col-md-6 col-10">
                <form class="form-add-property" method="post" enctype="multipart/form-data">
                    <h1 class="h3 mb-3 font-weight-normal">Add new proeprty</h1>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br/>
                    <div class="text-center">
                        <button class="btn btn-lg btn-danger btn-block" type="submit">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
