{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    <div class="content-wrapper ml-0" style="min-height: 70px;">
       <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">My Properties</h1>
                        </div>
                        </div>
                    </div>
                </div>
                
                <section class="content">
                    <div class="container-fluid">
                        
                        <div class="row justify-content-md-center mt-md-4 pt-md-4">
                            <div class="col-md-5">
                                <form class="form-signup"  method="post" enctype="multipart/form-data">
                                    <h1 class="h3 mb-3 font-weight-normal">Edit Property</h1>
                                    {% csrf_token %}
                                    {{ form| crispy }}
                                    <button  class="btn btn-lg btn-danger btn-block" type="submit">Update</button>
                                    <p class="mt-5 mb-3 text-muted">&copy; 2021-2021</p>
                                </form>
                            </div>
                        </div>

                    </div>
                </section>
                
            </div>
        </div>
       </div>
    </div>
{% endblock %}
{% block extra_js %}

{% endblock %}