{% extends 'base.html' %}
{% load i18n %}
{% block head_title %}{% trans "Chats" %}{% endblock %}

{% load static %}
{% block content %}
<style>
    .chat-container{
        border: 1px solid #c82333;
    }
    .h5, h5 {
        font-size: 1rem;
    }
    .widget-user-2 .widget-user-username {
        font-size: 20px;
    }
    .widget-user-2 .widget-user-header, .card{
        border-radius: 0px !important;
    }
    .card.card-widget.widget-user-2{        
        cursor: pointer;
        transition: ease 0.1s;
    }
    .card.card-widget.widget-user-2:hover{
        background: #dc3545!important;
        color: #fff;
        transition: ease 0.1s;
    }
    .chat-list,
    .chat-body{
        min-height: 80vh;
        max-height: 80vh;
    }
    .chat-list{
        overflow-y: scroll;
    }
    @media only screen and (max-width: 720px) {
        .chat-list {
            display: none;
        }
    }
    .empty-chat-body-message{
        color: gray;
        user-select: none;
        text-align: center;
        margin-top: 30vh;
    }
    .emplty-chat-list{
        text-align: center;
        margin-top: 30vh;
    }
    .skeleton {
        display: inline-block;
        position: relative;
        overflow: hidden;
        background-color: #dddbdd;
        margin:10px;
    }
    .message-skeleton{
        width: 100%;
    }
    .message-skeleton.right .skeleton.avatar{
        float: right;
    }
    .message-skeleton .skeleton.text{
        height:50px;
        width:85%;
    }
    .message-skeleton .skeleton.avatar{
        height:50px;
        width:50px;
        border-radius: 100%;
    }
    .skeleton::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
        animation: shimmer 1s infinite;
        content: '';
    }
    @keyframes shimmer {
        100% {
            transform: translateX(100%);
        }
    }
 
</style>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Chats</h1>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="row justify-content-md-center chat-container">
            <div class="col-md-4 pl-0 pr-md-0 chat-list">
                {% for chat in chats %}
                <div class="card card-widget widget-user-2 mb-0 w-100 chat-item chat-item-{{chat.id}}"  data-chat-id="{{chat.id}}">
                    <div class="widget-user-header">
                      <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="{% static 'icons/avatar-1.png' %}" alt="User Avatar">
                      </div>
                      <h3 class="widget-user-username text-truncate chat-topic" title="{{chat.topic}}">{{chat.topic}}</h3>
                      <h5 class="widget-user-desc text-truncate chat-participants" title="{% if chat.owner.id != user.id%} {{chat.owner.first_name}} {{chat.owner.last_name}} {% endif %}  {% for participant in chat.participants.all %}
                      {% if not participant.id == user.id %}
                      {{participant.first_name}} {{participant.last_name}}{% if not chat.participants.all.count == forloop.counter  %}{{','}}{% endif %}
                      {% endif %}
                      {% endfor %}">
                          {% if chat.owner.id != user.id%} {{chat.owner.first_name}} {{chat.owner.last_name}} {% endif %}  
                          {% for participant in chat.participants.all %}
                          {% if not participant.id == user.id %}
                          {{participant.first_name}} {{participant.last_name}}{% if not chat.participants.all.count == forloop.counter  %}{{','}}{% endif %}
                          {% endif %}
                          {% endfor %}
                      </h5>
                    </div>
                </div>
                {% endfor %}
                {% if not chats.count %}
                <div class="emplty-chat-list">No chats.</div>
                {% endif %}
            </div>
            <div class="col-md-8 pl-0 pr-0">

                    <div class="card card-prirary cardutline direct-chat direct-chat-danger chat-body mb-0">
                        <div class="card-header">
                        <div class="card-title">
                            <h4 class="opened-chat-topic"></h4>
                            <p class="opened-chat-participants"></p>
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool d-md-none" data-toggle="tooltip" title="Contacts" data-widget="chat-pane-toggle">
                                <i class="fas fa-comments"></i> Open Chats
                            </button>
                        </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="direct-chat-messages h-100 position-relative">
                                <p class="empty-chat-body-message">Select a chat to send message.</p>
                            </div>

                            <div class="direct-chat-contacts h-100 d-md-none">
                                <ul class="contacts-list">
                                    {% for chat in chats %}
                                    <li class="chat-item" data-chat-id="{{chat.id}}">
                                        <a href="#">
                                            <img class="contacts-list-img" src="{% static 'icons/avatar-1.png' %}">

                                            <div class="contacts-list-info">
                                                <span class="contacts-list-name text-truncate" title="{{chat.topic}}">
                                                    {{chat.topic}}
                                                <!-- <small class="contacts-list-date float-right">2/28/2015</small> -->
                                                </span>
                                                <span class="contacts-list-msg">
                                                    {% if chat.owner.id != user.id%} {{chat.owner.first_name}} {{chat.owner.last_name}} {% endif %}  
                                                    {% for participant in chat.participants.all %}
                                                    {% if not participant.id == user.id %}
                                                    {{participant.first_name}} {{participant.last_name}}{% if not chat.participants.all.count == forloop.counter  %}{{','}}{% endif %}
                                                    {% endif %}
                                                    {% endfor %}
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    {% endfor %}
                                    {% if not chats.count %}
                                    <div class="emplty-chat-list" style="color: #fff;">No chats.</div>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                        <div class="card-footer">
                        <form method="post">
                            <div class="input-group">
                            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                            <span class="input-group-append">
                                <button type="submit"  class="btn btn-danger" >Send</button>
                            </span>
                            </div>
                        </form>
                        </div>
                        <!-- /.card-footer-->
                    </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}

<script src="https://adminlte.io/themes/dev/AdminLTE/dist/js/adminlte.js"></script>

<script>
    $(()=>{
        const authId = '{{user.id}}'
        const authFirstName = '{{user.first_name}}'
        const authLastName = '{{user.last_name}}'
        const urlParams = getUrlParams(location.search);
        let openedChatId = null
        openChat(urlParams.open_chat)

        $('.chat-item').on('click', handleChatItemClick)
        $('form').on('submit', handleFormSubmit)
        $('input[name="message"]').on('keyup', handleMessageFieldKeyUp)

        function handleFormSubmit(event) {
            event.preventDefault()
            sendMessage()
        }
        function handleChatItemClick(event) {
            const chatItemElem = $(this)
            const chatId = chatItemElem.data('chat-id')
            openChat(chatId)
        }
        function clearMessageField() {
            $('input[name="message"]').val(null)
        }
        function sendMessage() {
            const messageField = $('input[name="message"]')
            const message = messageField.val().trim()
            const csrfmiddlewaretoken = getCookie('csrftoken')
            disableSendMessageButton()
            if(openedChatId && message){
                $.post("{% url 'messages' %}", { csrfmiddlewaretoken, message, chat_id:openedChatId, chat:openedChatId,  }).then((res) => {
                    handleSendMessageResponse(res)
                    enableSendMessageButton()
                }).catch((err) => {
                    enableSendMessageButton()
                    console.log(err);
                })
            }
        }
        function handleSendMessageResponse(res) {
            if(typeof res.chat === 'object'){
                alert('Something went wrong!')
            }else{
                appendMessage({
                    sender__first_name: authFirstName,
                    sender__last_name: authLastName,
                    created_on: new Date(),
                    message: res.message
                }, true)
                clearMessageField()
                enableSendMessageButton()
            }
        }
        function appendMessage(message, iSent=false) {
            const continer = $('.direct-chat-messages')
            continer.append(`
                <div class="direct-chat-msg ${iSent?'right':''}">
                    <div class="direct-chat-infos clearfix">
                        <span class="direct-chat-name float-left">${message.sender__first_name} ${message.sender__last_name}</span>
                        <span class="direct-chat-timestamp float-right">${message.created_on}</span>
                    </div>
                    <img class="direct-chat-img" src="{% static 'icons/avatar-1.png' %}" alt="Message User Image">
                    <div class="direct-chat-text">
                        ${message.message}
                    </div>
                </div>
            `)
        }
        function openChat(chatId) {
            disableSendMessageButton()
            if(chatId){
                openedChatId = chatId
                const chatElem = $(`.chat-item-${openedChatId}`)
                if(chatElem.length){
                    activateChat(`.chat-item-${openedChatId}`)
                    const csrfmiddlewaretoken = getCookie('csrftoken')
                    showMessageSkeleton()
                    $.post(`/messages/${openedChatId}`, { csrfmiddlewaretoken }).then((res) => {
                        replaceMessages(res)
                        enableSendMessageButton()
                    }).catch((err) => {
                        enableSendMessageButton()
                        console.log(err);
                    })
                }
            }
        }
        function disableSendMessageButton() {
            const sendMessageButton = $('button[type="submit"]')
            sendMessageButton.attr('disabled','disabled')
        }
        function enableSendMessageButton() {
            const sendMessageButton = $('button[type="submit"]')
            const messageField = $('input[name="message"]')
            if(openedChatId && messageField.val().trim()){
                sendMessageButton.removeAttr('disabled')
            }
        }
        function handleMessageFieldKeyUp(){
            if($(this).val().trim()){
                enableSendMessageButton()
            }else{
                disableSendMessageButton()
            }
        }
        function showMessageSkeleton() {
            const continer = $('.direct-chat-messages')
            continer.html(`
            <div class="message-skeleton">
                <span class="skeleton avatar"></span>
                <span class="skeleton text"></span>
            </div>
            <div class="message-skeleton right">
                <span class="skeleton avatar"></span>
                <span class="skeleton text"></span>
            </div>
            <div class="message-skeleton">
                <span class="skeleton avatar"></span>
                <span class="skeleton text"></span>
            </div>
            <div class="message-skeleton right">
                <span class="skeleton avatar"></span>
                <span class="skeleton text"></span>
            </div>
            <div class="message-skeleton">
                <span class="skeleton avatar"></span>
                <span class="skeleton text"></span>
            </div>
            `)
        }
        function activateChat(chatSelector){
            const chatElem =  $(chatSelector)
            const openedChatTopicElem = $('.opened-chat-topic')
            const openedChatParticipantsElem = $('.opened-chat-participants')
            const topic = chatElem.find('.chat-topic').attr('title')
            const participants = chatElem.find('.chat-participants').attr('title')
            openedChatTopicElem.text(topic)
            openedChatParticipantsElem.text(participants)
            $('.bg-danger').removeClass('bg-danger')
            chatElem.addClass('bg-danger')
        }
        function replaceMessages(messages) {
            const continer = $('.direct-chat-messages')
            if(!messages.length){
                continer.html(`<p class="empty-chat-body-message">No messages.</p>`)
                return 
            }
            continer.html(null)
            messages.forEach(message => {
                appendMessage(message, authId==message.sender__pk)
            });
        }
        /**
         * Accepts either a URL or querystring and returns an object associating 
         * each querystring parameter to its value. 
         *
         * Returns an empty object if no querystring parameters found.
         */
        function getUrlParams(urlOrQueryString) {
            if ((i = urlOrQueryString.indexOf('?')) >= 0) {
                const queryString = urlOrQueryString.substring(i+1);
                if (queryString) {
                return _mapUrlParams(queryString);
                } 
            }
            return {};
        }

        /**
         * Helper function for `getUrlParams()`
         * Builds the querystring parameter to value object map.
         *
         * @param queryString {string} - The full querystring, without the leading '?'.
         */
        function _mapUrlParams(queryString) {
            return queryString    
                .split('&') 
                .map(function(keyValueString) { return keyValueString.split('=') })
                .reduce(function(urlParams, [key, value]) {
                if (Number.isInteger(parseInt(value)) && parseInt(value) == value) {
                    urlParams[key] = parseInt(value);
                } else {
                    urlParams[key] = decodeURI(value);
                }
                return urlParams;
                }, {});
        }

    })

</script>

{% endblock %}
